@charset "utf-8";



@media only screen and (max-width: 1366px) and (min-width: 1200px) {}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1270px;
        width: 100%;
    }
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1500px) {

    .full-width-header.header-style2 .rs-header .menu-area .main-menu.pr-80,
    .full-width-header.header-style2 .rs-header .menu-area .logo-cat-wrap .logo-part.pr-90 {
        padding-right: 70px;
    }

    .rs-banner .left-shape {
        top: 30px;
        left: unset;
        right: -150px;
    }

    .rs-features .features-wrap {
        padding: 25px 30px 25px;
    }

    .rs-popular-courses.style2 .course-wrap .front-part .img-part img {
        min-height: 290px;
    }
}

@media only screen and (max-width: 1400px) {
    .full-width-header .rs-header .menu-area .expand-btn-inner li {
        margin-right: 7px;
    }

    .full-width-header.header-style2 .rs-header .menu-area .main-menu.pr-90 {
        padding-right: 40px;
    }

    .full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 30px;
    }

    .full-width-header .rs-header .menu-area .expand-btn-inner {
        margin-right: 50px;
    }

    .full-width-header .rs-header .menu-area .expand-btn-inner li {
        margin-right: 10px;
    }

    .full-width-header .rs-header .menu-area .expand-btn-inner li.cart-inner {
        margin-right: 10px;
        padding-right: 10px;
    }


    .full-width-header .rs-header .logo-part img {
        max-height: 60px;
    }

    .full-width-header .rs-header .logo-part {
        position: relative;
        z-index: 9;
        color: white;
        font-size: 15px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }

    .rs-banner .left-shape {
        top: 50px;
    }

}

@media only screen and (max-width: 1366px) {
    .container {
        max-width: 1170px;
        width: 100%;
    }

    .rs-footer .footer-bottom::before {
        max-width: 1140px;
    }

    .rs-page-error {
        padding: 150px 0 175px;
    }

    .rs-categories.home11-style .main-part {
        padding: 100px 150px 100px 70px;
    }

    .rs-categories.main-home .categories-items .contents {
        padding: 30px;
    }

    .rs-features .features-wrap .icon-part img {
        width: 50px;
        margin: 0 25px 0 0;
    }

    .rs-categories.style1 .categories-item .content-part .title {
        font-size: 20px;
    }

    .rs-about.style2 .sec-title .title,
    .rs-degree.style1.modify .sec-title .title {
        font-size: 34px;
    }

    .full-width-header.header-style2 .rs-header .menu-area .categories-btn .cat-menu-inner {
        top: 68px;
    }

    .full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu,
    .full-width-header.header-style2.modify1 .rs-header .menu-area .logo-cat-wrap .logo-part {
        padding-right: 60px;
    }


    .full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu {
        right: 52px;
    }

    .container-fluid2 {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media only screen and (max-width: 1300px) {



    .full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu {
        right: 52px;
    }

}

@media only screen and (max-width: 1199px) {
    .full-width-header.home1-modifiy .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 27px !important;
    }


    .full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu {
        right: 52px;
    }

    .full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu.responsive-left {
        left: unset;
        right: 0;
    }

    .container-fluid2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sec-title3 .title.title2 {
        font-size: 34px;
        line-height: 45px;
    }

    .rs-footer .footer-bottom::before {
        max-width: 930px;
    }

    .bg13 {
        padding: 81px 60px 81px 60px;
    }

    .rs-banner.style6 .banner-content .banner-title {
        line-height: 70px;
        font-size: 40px;
    }

    .container {
        max-width: 960px;
    }

    .sec-title .title {
        font-size: 35px;
    }

    .rs-banner.style6 .shape-img.left {
        left: -35px;
        max-width: 230px;
    }

    .rs-banner.style6 .shape-img.right {
        right: -50px;
        max-width: 225px;
    }


    .rs-services.style6 .services-wrap .services-item .services-desc .title {
        font-size: 21px;
        line-height: 26px;
    }

    .rs-services.style6 .services-wrap {
        padding: 40px 10px 40px;
    }


    .full-width-header .rs-header .menu-area .rs-menu-area {
        justify-content: right;
    }


    .full-width-header.header-style2 .rs-header .menu-area .main-menu.pr-80,
    .full-width-header.header-style2 .rs-header .menu-area .main-menu.pr-90,
    .full-width-header.header-style2 .rs-header .menu-area .logo-cat-wrap .logo-part.pr-90 {
        padding-right: 50px;
    }

    .full-width-header.header-style2.modify1 .rs-header .menu-area .categories-btn,
    .full-width-header.header-style2.modify1 .rs-header .menu-area .apply-btn,
    .full-width-header.header-style2 .rs-header .menu-area .expand-btn-inner ul {
        display: none;
    }

    .full-width-header.header-style2 .rs-header .menu-area .expand-btn-inner {
        margin-right: 20px;
    }


    .full-width-header .rs-header .menu-area .expand-btn-inner li>a.short-border {
        padding-right: 10px;
    }

    .full-width-header .rs-header .menu-area .nav-expander {
        font-size: 15px;
    }


    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 35px;
    }

    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        font-size: 14px;
    }

    .full-width-header .rs-header .menu-area .expand-btn-inner li.pl-30 {
        padding-left: 10px;
    }

    .full-width-header.header-style2 .rs-header .menu-area .logo-cat-wrap .logo-part img {
        max-height: 60px;
    }

    .full-width-header .rs-header .logo-part {
        position: relative;
        z-index: 9;
        color: white;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }

    .full-width-header .rs-header .menu-area .nav-expander {
        right: 15px;
    }

    .rs-banner.style2 .banner-content .sub-title {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .rs-banner.style2 .banner-content .banner-title {
        font-size: 75px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .rs-banner .left-shape {
        top: 100px;
    }

    .rs-banner.style1 .banner-content .banner-title {
        font-size: 45px;
    }

    .rs-breadcrumbs .breadcrumbs-img img {
        min-height: 350px;
    }

    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .rs-about.style2 .about-intro {
        padding: 60px 25px 70px;
    }

    .rs-about.style2 .about-intro .title {
        font-size: 30px;
    }

    .rs-about.style2 .couter-area .counter-item,
    .rs-about.style3 .couter-area .counter-item {
        padding: 30px 10px;
    }

    .rs-about.style2 .couter-area .counter-item .number,
    .rs-about.style3 .couter-area .counter-item .number {
        font-size: 40px;
    }

    .rs-about.style2 .couter-area .counter-item .title,
    .rs-about.style3 .couter-area .counter-item .title {
        font-size: 20px;
    }

    .contact-page-section .contact-address-section .contact-info {
        padding: 0 15px;
    }

    .contact-page-section .contact-address-section .contact-info .icon-part {
        margin-right: 15px;
    }

    .contact-page-section .contact-address-section .contact-info .content-part .info-title {
        font-size: 20px;
    }

    .profile-section .content-column .student-list li {
        margin-right: 20px;
    }

}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .rs-menu ul ul li>ul {
        left: unset;
        right: 100%;
    }

    .rs-features .features-wrap {
        padding: 20px 15px;
    }

    .rs-features .features-wrap .icon-part img {
        margin: 0 20px 0 0;
    }

    .full-width-header .rs-header .topbar-area .topbar-contact li {
        margin-right: 5px;
        padding-right: 12px;
    }

    .rs-features.style2 .rs-iconbox-area {
        padding: 50px 15px 50px 15px;
    }

    .rs-cta.section-wrap .content {
        max-width: 714px;
        padding-left: 0;
        padding: 10px 10px 10px 0;
    }

    .rs-cta.section-wrap .content .sec-title .title {
        margin: 0 0 15px;
    }

    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area {
        margin-right: 100px;
    }

    .full-width-header.header-style3.modify .rs-header .menu-area .expand-btn-inner .apply-btn {
        display: none;
    }

    .gridFilter.style2 button {
        padding: 9px 24px;
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {

    .nav-menu .rs-mega-menu>a:after,
    .nav-menu>.menu-item-has-children>a:after {
        content: "\f107";
        font-family: FontAwesome;
        float: right;
        margin: 2px 0 0 5px;
        display: none;
    }

    .sticky {
        background: #fff !important;
        position: fixed !important;
        top: 0px;
        z-index: 999;
        margin: 0 auto !important;
        padding: 0;
        left: 0;
        right: 0;
        width: 100%;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-name: sticky-animation;
        animation-name: sticky-animation;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@media only screen and (max-width: 991px) {
    .order-last {
        -ms-flex-order: unset;
        order: unset;
    }

    .hidden-md {
        display: none;
    }

    .md-text-left {
        text-align: left !important;
    }

    .pt-411 {
        padding-top: 372px;
    }

    .md-pl-pr-15,
    .md-col-padding [class*="col-"] {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }


    .bg13 {
        padding: 100px 50px 100px 50px;
    }


    .bg8 {
        padding: 25px 0 25px;
    }

    .sec-title6 .sub-title {
        font-size: 17px;
    }

    .rs-footer .footer-bottom::before {
        max-width: 690px;
    }

    .full-width-header .rs-header .menu-area .responsive-logo {
        display: block;
    }

    .contact-page-section .inner-part .title {
        font-size: 32px;
        line-height: 1.2;
    }

    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area {
        margin-left: 0;
    }

    .contact-page-section .rs-quick-contact {
        padding: 60px 110px 60px;
    }

    .contact-page-section .inner-part p br {
        display: none;
    }

    .contact-page-section .inner-part p {
        font-size: 17px;
        line-height: 1.2;
    }

    .rs-features.main-home {
        position: unset;
        margin-top: 70px;
    }

    .rs-cta.main-home .partition-bg-wrap {
        padding: 70px 0;
    }

    .rs-cta.main-home .partition-bg-wrap::after {
        display: none;
    }

    .rs-cta.main-home .partition-bg-wrap::before {
        width: 100%;
    }


    .rs-features .features-wrap {
        display: block;
        padding: 25px 20px;
    }

    .rs-features .features-wrap .icon-part img {
        margin: 0 0 20px;
    }

    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 60px;
        line-height: 1.3;
    }

    .rs-slider.main-home .slider-content .content-part {
        padding: 200px 35px;
    }

    .sec-title3 .title {
        font-size: 32px;
        line-height: 43px;
    }

    .sec-title3 .desc {
        font-size: 15px;
    }

    .rs-facilities .choose-part {
        max-width: 900px;
        margin: 30px 0 0px;
        padding: 60px 50px;
        position: unset;
        top: unset;
        transform: unset;
    }

    .sec-title2 .sub-title {
        font-size: 16px;
        line-height: 23px;
    }

    .sec-title2 .title {
        font-size: 34px;
        line-height: 44px;
    }


    .rs-popular-courses.style3 .courses-item .content-part .title {
        margin-bottom: 15px;
    }

    .rs-popular-courses.style3 .courses-item .content-part .title {
        font-size: 16px;
    }

    .container {
        max-width: 720px;
    }

    .rs-about.style6 .shape-animate .transparent.left {
        left: 0;
    }

    .rs-banner.style6 .banner-content {
        padding: 150px 0 95px;
    }

    .rs-banner.style6 .banner-content .desc {
        font-size: 18px;
        line-height: 25px;
    }

    .rs-banner.style6 .banner-content .banner-title {
        line-height: 70px;
        font-size: 40px;
    }

    .rs-about.style6 .shape-animate .transparent.right {
        right: 75%;
        top: -148px;
    }

    .rs-banner.style6 .shape-img.left {
        left: -90px;
        max-width: 200px;
    }

    .rs-banner.style6 .shape-img.right {
        right: -90px;
        max-width: 200px;
    }

    .rs-banner.style6 .shape-img.center .inner {
        width: 600px;
        height: auto;
    }

    .rs-about.style6 .sec-title {
        text-align: center;
    }

    .rs-footer.style6 .footer-top {
        padding: 70px 0 55px;
    }

    .rs-footer.style6 .footer-bottom .main-part {
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .rs-cta.section-wrap .content {

        padding: 20px 15px;
    }

    .container-fluid2 {
        padding-left: 0px;
        padding-right: 60px;
    }


    /*Menu Part Responsive */
    .full-width-header .rs-header .menu-area.sticky {
        position: relative;
    }

    .full-width-header.home1-modifiy .rs-header .logo-part {
        position: absolute;
        line-height: 90px;
        height: 90px;
    }

    .full-width-header.home8-style4 .rs-header .menu-area .logo-part {
        position: absolute;
        line-height: 90px;
        height: 90px;
        display: flex;
        align-items: center;
    }

    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        margin: 0;
        padding: 0;
    }

    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a::before {
        display: none;
    }

    .full-width-header.header-style1.home14-style .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu,
    .full-width-header.header-style3 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu,
    .full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu,
    .full-width-header.header-style1 .rs-header .menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu,
    .full-width-header.home8-style4 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu {
        right: unset;
        min-width: unset;
    }

    .full-width-header.home1-modifiy .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 0 !important;
    }

    .full-width-header .rs-header .topbar-area {
        display: none;
    }

    .full-width-header .rs-header .menu-area .rs-menu-area {
        display: block !important;
    }

    .full-width-header .rs-header .menu-area .expand-btn-inner {
        display: none;
    }

    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        color: #394459 !important;
    }

    .full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.nav-menu li a,
    .full-width-header.home8-style4.main-home .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
        color: #394459 !important;
    }

    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li a:hover,
    .full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li a:hover {
        color: #fff !important;
    }

    .full-width-header.header-style2 .rs-header .menu-area .logo-cat-wrap {
        position: absolute;
        /* width: 150px; */
        height: 90px;
        line-height: 90px;
    }

    .full-width-header.header-style2 .rs-header .menu-area .logo-cat-wrap .logo-part {
        padding-right: 0 !important;
    }

    .full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu,
    .full-width-header.header-style2 .rs-header .menu-area .main-menu.pr-90,
    .full-width-header.header-style2 .rs-header .menu-area .main-menu.pr-80 {
        padding-right: 15px;
    }

    .sec-title .title {
        font-size: 30px;
    }

    .rs-banner.style2 .banner-content .sub-title {
        font-size: 30px;
    }

    .rs-banner.style2 .banner-content .banner-title {
        font-size: 60px;
    }



    .rs-cta.style2 .partition-bg-wrap.home2:after,
    .rs-cta.style2 .partition-bg-wrap.home2:before {
        height: 50%;
    }

    .rs-cta.style2 .partition-bg-wrap:before {
        width: 100%;
        max-height: 300px;
        left: unset;
        bottom: unset;
        top: 0;
    }


    .contact-page-section .contact-address-section .contact-info {
        display: block;
        padding: 20px;
    }

    .contact-page-section .contact-address-section .contact-info .icon-part {
        margin: 0 0 20px;
    }

    .rs-footer .footer-top {
        padding: 190px 0 60px;
    }

    .rs-footer .footer-top.no-gap {
        padding: 73px 0;
    }

    .rs-footer .footer-top .widget-title {
        margin-bottom: 20px;
    }

    .rs-cart .cart-collaterals .cart-totals {
        float: none;
        width: 100%;
    }

    .rs-cart .container {
        max-width: 750px;
    }

    .rs-checkout .container {
        max-width: 750px;
    }

    .course-overview .inner-box .student-list li {
        margin-right: 50px;
    }

    .rs-checkout .full-grid .payment-method {
        background: #ebe9eb;
        border-radius: 5px;
        margin-top: 25px;
        padding: 30px;
    }

    .rs-checkout .full-grid .payment-method .top-area .p-msg {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        font-size: .92em;
        border-radius: 2px;
        line-height: 1.5;
        background-color: #dfdcde;
        color: #515151;
    }

    .rs-checkout .full-grid .payment-method .top-area .p-msg::before {
        content: '';
        display: block;
        border: 1em solid #dfdcde;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        top: -0.75em;
        left: 0;
        margin: -1em 0 0 2em;
    }

    .rs-page-error {
        padding: 150px 15px;
    }

    .rs-page-error .error-text .error-code::after {
        max-width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rs-degree.style1 .degree-wrap .content-part {
        padding: 25px 25px 0;
    }

    .rs-degree.style1 .title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .sec-title3 .title.title3 {
        font-size: 36px;
        line-height: 46px;
    }

    .container-fluid2 {
        padding-left: 0px;
        padding-right: 40px;
    }

    .bg13 {
        padding: 70px 40px 70px 40px;
    }

    .rs-footer .footer-bottom::before {
        max-width: 530px;
    }

    .rs-features.style3 .features-item .content-part {
        top: 50%;
        left: 50%;
        padding: 40px 138px 0;
    }

    .rs-features.style3 .features-item {
        text-align: center;
    }

    .rs-popular-courses.home11-style .courses-item .content-part .course-body p {
        font-size: 15px;
        padding-right: 35px;
        padding-left: 35px;
    }

    .rs-gallery.home11-style .gallery-part .gallery-img .gallery-info p {
        padding-right: 100px;
        padding-left: 100px;
    }

    .rs-blog.style1 .events-short.new-style {
        padding: 0px;
        border: none;
    }

    .rs-blog.style1.home11-style .blog-item .image-part a img {
        width: 100%;
    }

    .contact-page-section .rs-contact-box .address-item {
        padding: 40px 30px 40px 30px;
    }

    .contact-page-section .rs-contact-box .address-item .address-text .label {
        font-size: 20px;
    }

    .contact-page-section .rs-contact-box .address-item .address-text .des {
        font-size: 15px;
    }

    .contact-page-section .rs-contact-box .address-item .icon-part img {
        width: 60px;
    }

    .contact-page-section .rs-contact-box .address-item .icon-part {
        padding-bottom: 15px;
    }

    .rs-slider.style2 .slide-part .content .title {
        font-size: 34px;
        line-height: 44px;
    }

    .rs-slider.main-home .slider-content .content-part {
        padding: 175px 15px 100px;
    }

    .rs-slider.main-home .slider-content .content-part .sl-sub-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 48px;
        margin-bottom: 50px;
    }

    .rs-features {
        margin-top: 70px;
    }

    .container {
        max-width: 540px;
    }

    .rs-recipes .sec-title3 .desc br {
        display: none;
    }

    .sec-title2 .title {
        font-size: 30px;
        line-height: 1.4;
    }

    .rs-featured-courses .courses-item .content-part .images {
        padding-bottom: 35px;
    }

    .rs-footer .footer-top .widget-title {
        font-size: 16px;
        line-height: 24px;
    }

    .rs-about.style6 .shape-animate .transparent.right {
        right: 75%;
        top: -168px;
    }

    .rs-banner.style6 .banner-content .banner-title {
        line-height: 63px;
        font-size: 35px;
    }

    .rs-services.style6 .sec-title .title {
        font-size: 29px;
    }

    .rs-services.style6 .sec-title p {
        padding: 0 30px 0;
        font-size: 14px;
    }

    .rs-footer .footer-bottom {
        padding: 15px 0;
    }

    .rs-newsletter.style6 .newsletter-wrap .content-part .title {
        font-size: 32px;
        line-height: 42px;
    }

    .rs-newsletter.style6 .newsletter-wrap .content-part .sub-title {
        line-height: 28px;
        font-size: 18px;
    }

    .rs-footer.style6 .footer-bottom .main-part {
        padding-top: 5px;
    }

    .hidden-sm {
        display: none;
    }

    .sm-text-center {
        text-align: center !important;
    }

    .sm-text-left {
        text-align: left !important;
    }

    .sec-title .title {
        font-size: 30px;
    }

    .sec-title .sub-title {
        font-size: 16px;
    }

    .full-width-header.header-style3 .rs-header .menu-area .menu-bg::before {
        display: none;
    }

    .rs-banner.style2 {
        height: auto;
        min-height: 500px;
    }

    .rs-banner .banner-content .desc br,
    .rs-banner.style3 .banner-content .banner-desc br {
        display: none;
    }

    .rs-banner.style2 .banner-content .banner-title {
        font-size: 50px;
    }

    .rs-banner.style3 .banner-content .banner-title {
        font-size: 40px;
    }

    .rs-banner.style6 .banner-content .banner-title {
        margin-bottom: 15px;
    }

    .rs-banner.style6 .banner-content .desc {
        margin-bottom: 30px;
    }

    .rs-banner.style6 .banner-content {
        padding: 150px 0 95px;
    }

    .rs-banner.style6 .shape-img.left {
        left: -25px;
        max-width: 160px;
    }

    .rs-banner.style6 .shape-img.right {
        right: -70px;
        max-width: 150px;
    }

    .rs-banner.style6 .shape-img.center .inner {
        width: 500px;
    }

    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 40px;
        margin: 0 15px 15px;
    }

    .rs-about.style4 .about-content .title {
        font-size: 35px;
    }

    .rs-about.video-style .about-content {
        padding: 30px
    }

    .rs-cta .cta-img img {
        min-height: 350px;
    }

    .rs-popular-courses.style4 .courses-item {
        width: 70%;
        margin: 0 auto;
    }

    .rs-popular-courses.style4 .courses-item .content-part .title {
        font-size: 20px;
    }

    .free-course-contact .title {
        font-size: 30px;
    }

    .rs-about.style4 .about-content .title {
        font-size: 30px;
    }

    .rs-about.style5 .about-content .contact-part li .desc a,
    .rs-about.style5 .about-content .contact-part li .desc p {
        margin: 0;
    }

    .contact-page-section .contact-comment-section {
        padding: 50px 30px;
    }

    .contact-page-section .contact-comment-section h3 {
        font-size: 30px;
    }

    .contact-page-section .contact-comment-section p br {
        display: none;
    }

    .contact-page-section .contact-map iframe {
        height: 450px;
    }

    .profile-section .content-column h2 {
        font-size: 32px;
    }

    .profile-section .content-column h4 {
        font-size: 20px;
    }

    .profile-section .content-column h5 {
        font-size: 22px;
    }

    .intro-section .intro-tabs .tab-btns {
        width: 45%;
        margin: 0 15px 15px 0;
    }

    .intro-section .intro-tabs .tab-btns .tab-btn {
        padding: 10px 20px;
    }

    .rs-footer .footer-top,
    .rs-footer.style8.main-home .footer-top {
        padding: 64px 0;
    }

    .rs-footer .footer-bottom {
        padding: 30px 0;
    }

    .rs-cart .container {
        max-width: 550px;
    }

    .rs-cart .cart-wrap table.cart-table .action .coupon input {
        margin-bottom: 20px;
        width: 100%;
    }

    .rs-cart .cart-wrap table.cart-table .action .coupon {
        float: none;
        margin-bottom: 20px;
    }

    .rs-cart .btn-shop {
        width: 100%;
    }

    .rs-cart .cart-wrap table.cart-table td {
        display: block;
        border-right: 1px solid #e6e6e6;
    }

    .rs-cart .cart-body .cart-detail table tr th,
    .rs-cart .cart-body .cart-detail table tr td {
        display: none;
    }

    .rs-cart .cart-wrap table.cart-table th {
        display: none;
    }

    .rs-checkout .container {
        max-width: 650px;
    }

}


@media only screen and (max-width: 575px) {

    .bg8 {
        background: none;
        padding: 50px 0 50px;
    }

    .readon.green-btn {
        font-size: 12px;
        padding: 8px 23px !important;
    }

    .rs-free-contact textarea {
        height: 100px;
    }

    .readon {
        padding: 10px 30px !important;
        font-size: 15px;
    }

    .readon.banner-style {
        padding: 12px 40px;
        font-size: 15px;
    }

    .rs-banner.style2 .banner-content .sub-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .rs-banner.style2 .banner-content .banner-title {
        font-size: 33px;
        margin-bottom: 25px;
    }

    .rs-banner.style3 {
        min-height: 400px;
    }

    .rs-banner.style6 .shape-img.left,
    .rs-banner.style6 .shape-img.right {
        display: none;
    }

    .rs-banner.style6 .shape-img {
        bottom: 0;
    }

    .readon2.banner-style {
        padding: 12px 30px;
    }

    .rs-breadcrumbs .breadcrumbs-img img {
        min-height: 250px;
    }

    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 35px;
    }

    .intro-section .intro-tabs .tab-btns {
        width: 100%;
        margin: 0 0 15px;
    }


}

@media only screen and (max-width: 480px) {
    .container-fluid2 {
        padding-left: 0px;
        padding-right: 20px;
    }

    .sec-title3 .title.title2 {
        font-size: 24px;
        line-height: 40px;
    }

    .rs-cta.effects-layer .effects-bg .content-part {
        padding: 350px 30px 60px 40px;
    }

    .sec-title6 .title {
        font-size: 30px;
        line-height: 40px;
    }

    .sec-title4 .title {
        font-size: 22px;
        line-height: 32px;
    }

    .sec-title4 .title {
        font-size: 26px;
        line-height: 36px;
    }

    .sec-title4 .sub-title {
        font-size: 15px;
        line-height: 26px;
    }

    .sec-title3 .sub-title {
        font-size: 14px;
        line-height: 26px;
    }

    .sec-title3 .title {
        font-size: 26px;
        line-height: 36px;
    }

    .sec-title2 .title {
        font-size: 25px;
    }

    .rs-about.style6 .sec-title .title {
        font-size: 25px;
    }

    .rs-about.style6 .shape-animate .transparent.right {
        display: none;
    }

    .rs-about.style6 .shape-animate .transparent.left {
        display: none;
    }

    .sec-title .title {
        font-size: 25px;
    }

    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part {
        width: 175px;
    }

    .full-width-header.header-style1 .rs-header .menu-area .main-menu .mobile-logo-part img {
        max-height: 25px;
    }

    .rs-banner.style1 .banner-content .banner-title {
        font-size: 25px;
    }

    .rs-banner.style1 .banner-content .desc {
        font-size: 18px;
    }

    .rs-banner.style3 .banner-content .banner-title {
        font-size: 30px;
    }

    .rs-banner.style3 .banner-content .banner-desc {
        font-size: 16px;
    }

    .rs-banner.style3 .banner-content .banner-btn li {
        display: block;
        margin: 0 0 15px;
    }

    .rs-banner.style3 .banner-content .banner-btn li .readon3 {
        padding: 10px 40px;
        font-size: 15px;
    }

    .rs-banner.style4 .banner-content .banner-title {
        font-size: 32px;
    }

    .rs-banner.style6 .banner-content {
        padding: 150px 0 95px;
    }

    .rs-banner.style6 .shape-img.center .inner {
        width: 350px;
    }

    .rs-banner.style6 .banner-content .banner-title {
        font-size: 23px;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    .rs-banner.style6 .banner-content .desc {
        margin-bottom: 20px;
    }

    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 30px;
    }

    .rs-about.style2 .about-intro {
        padding: 45px 15px 50px;
    }

    .rs-about.style1 .img-part .left-bottom {
        max-width: 60%;
    }

    .rs-about.style2 .about-intro .title {
        font-size: 25px;
    }

    .course-overview .inner-box {
        padding: 0 20px 20px;
    }

    .accordion-box .block .content {
        padding: 0 0 25px;
    }

    .accordion-box .block .play-icon .fa {
        margin: 0;
        margin-right: 15px;
    }

    .accordion-box .block .play-icon::before {
        left: 20px;
    }

    .cource-review-box {
        padding: 0 20px;
    }

    .course-overview .inner-box h4 {
        font-size: 20px;
    }

    blockquote {
        padding: 20px;
    }

    .profile-section .content-part .title {
        font-size: 20px;
    }

}