@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

/* -----------------------------------
    01. General CSS
-------------------------------------*/
html,
body {
  font-size: 15px;
  color: #505050;
  font-family: 'Rubik', sans-serif !important;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}

.bg-custum {
  background: #283d67;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 26px;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  color: #111111;
  margin: 0 0 26px;
  line-height: 1.2;
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

.home-style2 h1,
.home-style2 h2,
.home-style2 h3,
.home-style2 h4,
.home-style2 h5,
.home-style2 h6 {
  color: #112958;
}

.uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.bold-text {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

.extra-bold {
  font-weight: 800 !important;
}

a {
  color: #21a7d0;
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
}

a:active,
a:hover {
  text-decoration: none;
  outline: 0 none;
  color: #21a7d0;
}

ul {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

::-moz-selection {
  background: #21a7d0;
  text-shadow: none;
  color: #ffffff;
}

::selection {
  background: #21a7d0;
  text-shadow: none;
  color: #ffffff;
}

.border-none:last-child {
  border-right: none !important;
}

.width-unset {
  width: unset !important;
}

.white-bg {
  background-color: #ffffff;
}

.primary-bg {
  background: #21a7d0;
}

.secondary-bg {
  background: #273c66;
}

.title-bg {
  background: #111111;
}

.gray-bg {
  background: #f3f8f9;
}

.gray-bg3 {
  background: #e7f9fb;
}

.gray-bg2 {
  background: #e7f6f9;
}

.gray-bg4 {
  background: #F9F7F8;
}

.event-bg {
  background: #f9f8f8;
}

.event2-bg {
  background: #F4F6F5;
}

.dark-red {
  background: #1D0E15;
}

.bg-light-gray {
  background: #f9f9f9;
}

.transparent-bg {
  background: transparent;
}

.home5color {
  color: #54647b !important;
}

.bg-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg1 {
  background: url('../images/bg/bg1.png') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}







.pt-50 {
  padding-top: 50px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-80 {
  padding-bottom: 80px;
}

a.nav-link.active.navigation__list {
  align-items: center;
  border: 1px solid #003a92;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  min-height: 2.778rem;
  padding: 0.8125rem 1.25rem 0.6875rem;
  transition: all .3s;
  background-color: #003a92;
  color: #fff;
}

a.nav-link.navigation__list {
  align-items: center;
  background-color: #fff;
  border: 1px solid #003a92;
  border-radius: 3px;
  color: #003a92;
  display: flex;
  justify-content: center;
  min-height: 2.778rem;
  padding: 0.8125rem 1.25rem 0.6875rem;
  transition: all .3s;
  margin: 5px 0;
}

ul li::marker {
  color: #003a92;
}

.information ul {
  margin: 0 0 24px 24px;
}

.information p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4em;
  margin: 24px 0;
}

.information h2 {
  color: #003a92;
  font-style: normal;
  font-weight: 600;
  line-height: 1.15;
}

.information a {
  color: #003a92;
  font-weight: 700;
}

.bg-unset {
  background: unset !important;
}

.rs-menu-toggle {
  color: #21a7d0;
  text-align: right;
}

button {
  cursor: pointer;
}

.glyph-icon:before {
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.pagenav-link ul {
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  display: inline-block;
  padding: 0 3px;
}

.pagenav-link ul li {
  display: inline-block;
  padding: 0 18px;
  margin: 14px 0;
  border-right: 1px solid #E6E6E6;
  color: #21a7d0;
  font-size: 16px;
}

.pagenav-link ul li a {
  color: #505050;
}

.pagenav-link ul li a i:before {
  color: #505050;
  font-size: 13px;
  transition: all 0.3s ease;
}

.pagenav-link ul li a:hover {
  color: #21a7d0;
}

.pagenav-link ul li a:hover i:before {
  color: #21a7d0;
}

.pagenav-link ul li:last-child {
  border-right: none;
}

.pagenav-link.orange-color ul li,
.pagenav-link.orange-color ul li a:hover,
.pagenav-link.orange-color ul li a:hover i:before {
  color: #273c66;
}

.gridFilter button {
  background: transparent;
  border: 0;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  color: #505050;
  cursor: pointer;
}

.gridFilter button+button {
  margin-left: 20px;
}

.gridFilter.style2 button {
  background: #f9f7f8;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #101010;
  padding: 10px 30px;
  outline: none;
  margin: 0 10px 20px;
}

.gridFilter.style2 button.active,
.gridFilter.style2 button:hover {
  background: #fff;
  color: #273c66;
  box-shadow: 0 0 30px #eee;
}

.gridFilter.style2.modify1 button {
  margin: 0 0px 20px;
}

blockquote {
  margin: 35px 0;
  padding: 40px;
  color: #666;
  position: relative;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  clear: both;
  box-shadow: 0 0 150px #eee;
}

blockquote:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: #21a7d0;
}

blockquote p {
  font-size: 16px;
  margin: 0;
}

.check-square li {
  position: relative;
  padding-left: 35px;
  line-height: 34px;
  border: none;
  color: #ffffff;
}


/* ------------------------------------
    02. Global Class CSS
---------------------------------------*/
.y-middle {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.y-bottom {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.btn-shop {
  outline: none;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  background: #21a7d0;
  font-size: 15px;
  padding: 8px 25px;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.btn-shop:hover {
  background: #273c66;
  color: #ffffff;
}

/*Pagination*/
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #273c66;
  color: white;
  border: 1px solid #273c66;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination-area .pagination-part {
  display: inline-block;
  padding: 0 5px 0 10px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
}

.dark-parimary-bg {
  background: #203154 !important;
}

ul.listing-style li {
  position: relative;
  padding-left: 30px;
  line-height: 34px;
}

ul.listing-style li:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: "\f05d";
  font-family: 'FontAwesome';
  color: #21a7d0;
  font-size: 20px;
}

ul.listing-style.modify li {
  padding-left: 23px;
}

ul.listing-style.modify li:before {
  font-size: 15px;
}


.sec-title .sub-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.sec-title .sub-title.primary {
  color: #21a7d0;
}

.sec-title .sub-title.secondary {
  color: #273c66;
}

.sec-title .sub-title.white {
  color: #ffffff;
}

.sec-title .sub-title.dark {
  color: #111111;
}

.sec-title .desc.big {
  font-size: 18px;
  line-height: 30px;
}

.sec-title .midline {
  font-size: 36px;
  color: #111111;
}

.left-top-shape {
  position: absolute;
  left: -55px;
  top: 65px;
}

.right-top-shape {
  position: absolute;
  right: -115px;
  top: 25px;
}

.white-color {
  color: #ffffff !important;
}

/* -----------------------
    03. Header Section CSS
--------------------------*/
.full-width-header .rs-header {
  z-index: 99;
}

.full-width-header .rs-header .logo-part {
  position: relative;
  z-index: 9;
  color: white;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.full-width-header .rs-header .logo-part img {
  max-height: 120px;
}

.full-width-header .rs-header .menu-area {
  transition: all 0.3s ease;
}

.full-width-header .rs-header .menu-area .logo-area {
  position: relative;
  height: 90px;
  line-height: 90px;
}

.full-width-header .rs-header .menu-area .logo-area img {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  max-height: 48px;
}

.full-width-header .rs-header .menu-area .logo-area .dark {
  display: none;
}

.full-width-header .rs-header .menu-area .logo-area .light {
  display: inherit;
}

.full-width-header .rs-header .menu-area .responsive-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.full-width-header .rs-header .menu-area .responsive-logo img {
  max-height: 30px;
}

.full-width-header .rs-header .menu-area .logo-cat-wrap {
  display: flex;
  align-items: center;
  /* height: 120px;
  line-height: 120px; */
}

.full-width-header .rs-header .menu-area .rs-menu-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li {
  display: inline-block;
  margin-right: 50px;
  padding: 0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  height: 120px;
  line-height: 120px;
  padding-right: 0;
  margin-right: -12px;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a:hover {
  color: #21a7d0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children a {
  padding-right: 12px;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children a:before {
  content: "+";
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  text-align: center;
  display: block;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all .5s ease;
}

i.fa.fa-bars {
  color: white;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children a:hover:before {
  content: "-";
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li:last-child {
  margin-right: 0 !important;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li:last-child i {
  margin: 0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu.onepage-menu .active-menu a {
  color: #21a7d0 !important;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu {
  background: #21a7d0;
  margin: 0;
  padding: 15px 0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li {
  margin: 0;
  border: none;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li a {
  height: unset !important;
  line-height: unset !important;
  color: #ffffff !important;
  font-weight: 400 !important;
  text-transform: capitalize;
  padding: 10px 30px !important;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li a:hover {
  color: #273c66 !important;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li a:before {
  display: none !important;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li:last-child {
  margin: 0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li.current-menu-item>a,
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li.active>a {
  color: #273c66 !important;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li.children-mega-menu .child-mega-menu {
  width: 100%;
  opacity: 1 !important;
  position: unset;
  transform: translateY(0px);
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li.children-mega-menu .child-mega-menu .child-single-megamenu {
  width: 50%;
  float: left;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li.children-mega-menu .child-mega-menu .child-single-megamenu .sub-menu {
  padding: 0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu.right-menu {
  left: unset;
  right: 0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu {
  background: #273c66;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu .mega-menu-container {
  padding: 0;
  margin: 0;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu .mega-menu-container .single-megamenu {
  width: 50%;
  float: left;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu .mega-menu-container .single-megamenu .sub-menu .menu-title {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 30px;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu .mega-menu-container .single-megamenu:hover .sub-menu .menu-title {
  color: #ffffff;
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul li a:hover,
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul li.active a,
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul li.current-menu-item>a {
  color: #21a7d0 !important;
}


.full-width-header .rs-header .menu-area.sticky .main-menu .rs-menu ul.nav-menu>li>a {
  height: 90px;
  line-height: 90px;
  color: #494949;
}

.full-width-header .rs-header .menu-area.sticky .main-menu .rs-menu ul.nav-menu>li>a:hover {
  color: #21a7d0;
}

.full-width-header.header-style2 {
  width: 100%;
  z-index: 999;
}

.full-width-header.header-style2 .rs-header .menu-area {
  background: #ffffff;
}

.full-width-header.header-style2 .rs-header .menu-area .logo-cat-wrap .logo-part .dark-logo {
  display: inherit;
}

.full-width-header.header-style2 .rs-header .menu-area .logo-cat-wrap .logo-part .light-logo {
  display: none;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area {
  justify-content: flex-end;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li {
  margin-right: 35px;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
  color: #394459;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a:hover {
  color: #21a7d0;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu {
  background: #21a7d0;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li {
  margin: 0;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li a {
  font-weight: 400 !important;
  color: #ffffff;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li a:hover {
  color: #ddd !important;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li.active a {
  color: #ddd !important;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu {
  left: unset;
  right: 0;
  background: #21a7d0;
  min-width: 770px;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu .mega-menu-container .single-megamenu {
  width: 33.33%;
  float: left;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu .mega-menu-container .single-megamenu .sub-menu {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul li a:hover,
.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul li.active a,
.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul li.current-menu-item>a {
  color: #21a7d0 !important;
}

.full-width-header.header-style2 .rs-header .menu-area .expand-btn-inner li.cart-inner {
  border-color: #a9b1c2;
}

.full-width-header.header-style2 .rs-header .menu-area .expand-btn-inner li>a {
  color: #394459;
}

.full-width-header.header-style2 .rs-header .menu-area .expand-btn-inner li>a:hover {
  color: #21a7d0;
}

.full-width-header.header-style2 .rs-header .menu-area .categories-btn .cat-btn {
  color: #394459;
}

.full-width-header.header-style2 .rs-header .menu-area .categories-btn .cat-btn i {
  margin-right: 10px;
}

.full-width-header.header-style2 .rs-header .menu-area .categories-btn .cat-btn:hover i {
  color: #21a7d0;
}

.full-width-header.header-style2 .rs-header .menu-area .categories-btn .cat-menu-inner {
  background: #21a7d0;
}

.full-width-header.header-style2 .rs-header .menu-area .categories-btn .cat-menu-inner li a {
  color: #ffffff;
}

.full-width-header.header-style2 .rs-header .menu-area .categories-btn .cat-menu-inner li a:hover {
  color: #273c66;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky {
  background: #273c66 !important;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .logo-cat-wrap {
  display: flex;
  align-items: center;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .logo-cat-wrap .logo-part .dark-logo {
  display: none;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .logo-cat-wrap .logo-part .light-logo {
  display: inherit;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .main-menu .rs-menu ul.nav-menu>li>a {
  color: #ffffff;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .expand-btn-inner li>a {
  color: #ffffff;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .expand-btn-inner li>a:hover {
  color: #21a7d0;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .nav-expander.style3 span {
  background: #ffffff;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .nav-expander.style3:hover span {
  background: #ccc;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .categories-btn .cat-btn {
  color: #ffffff;
}

.full-width-header.header-style2 .rs-header .menu-area.sticky .categories-btn .cat-btn:hover i {
  color: #21a7d0;
}

.full-width-header.header-style2.modify1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area {
  background: transparent;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
  color: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a:hover {
  color: #21a7d0;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu {
  background: #21a7d0;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li a {
  font-weight: 400 !important;
  color: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li a:hover {
  color: #ddd !important;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.sub-menu li.active a {
  color: #ddd !important;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul li a:hover,
.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul li.active a,
.full-width-header.header-style2.modify1 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul li.current-menu-item>a {
  color: #21a7d0 !important;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .expand-btn-inner li.cart-inner {
  border-color: #a9b1c2;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .expand-btn-inner li>a {
  color: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .expand-btn-inner li>a:hover {
  color: #21a7d0;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .categories-btn .cat-btn {
  color: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area .categories-btn .cat-btn:hover i {
  color: #21a7d0;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky {
  background: #273c66 !important;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .logo-cat-wrap {
  display: flex;
  align-items: center;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .logo-cat-wrap .logo-part .dark-logo {
  display: none;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .logo-cat-wrap .logo-part .light-logo {
  display: inherit;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .main-menu .rs-menu ul.nav-menu>li>a {
  color: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .expand-btn-inner li>a {
  color: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .expand-btn-inner li>a:hover {
  color: #21a7d0;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .categories-btn .cat-btn {
  color: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .categories-btn .cat-btn:hover i {
  color: #21a7d0;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .nav-expander span {
  background: #ffffff;
}

.full-width-header.header-style2.modify1 .rs-header .menu-area.sticky .nav-expander:hover span {
  background: #ccc;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.nav-menu li {
  margin-right: 35px;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
  color: #ffffff;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.nav-menu li a:hover {
  color: #f4bf00 !important;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.sub-menu {
  background: #ffffff !important;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.sub-menu li {
  margin: 0;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.sub-menu li a {
  font-weight: 400 !important;
  color: #111111 !important;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.sub-menu li a:hover {
  color: #f4bf00 !important;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul.sub-menu li.active a {
  color: #f4bf00 !important;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu .rs-mega-menu .mega-menu {
  background: #ffffff;
}

.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul li a:hover,
.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul li.active a,
.full-width-header.header-style2.modify1.header-home6 .rs-header .rs-menu-area .main-menu .rs-menu ul li.current-menu-item>a {
  color: #f4bf00 !important;
}

.full-width-header.transparent {
  position: absolute;
}

.full-width-header.transparent .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
  color: #ffffff !important;
}

.full-width-header.transparent .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a:hover {
  color: #21a7d0;
}

.full-width-header.transparent .rs-header .menu-area .expand-btn-inner li.cart-inner {
  border-color: #1c2f5e !important;
}

.full-width-header.transparent .rs-header .menu-area .expand-btn-inner li>a {
  color: #ffffff !important;
}

.full-width-header.transparent .rs-header .menu-area .expand-btn-inner li>a:hover {
  color: #21a7d0;
}

.full-width-header.transparent .rs-header .menu-area.menu-sticky {
  background: none;
  border-bottom: none;
}

/*------------------------------------
    04. Sticky Menu CSS
--------------------------------------*/
.menu-sticky {
  background: #fff;
  margin: 0;
  z-index: 999;
  width: 100%;
  top: 0;
  position: relative;
}

@-webkit-keyframes sticky-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes sticky-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------------------------------
    05. Banner Section CSS
---------------------------------------*/

.rs-banner.style6 {
  background: url(../images/banner/home6/bg.png);
  background-size: cover;
  background-position: center;
  /* margin-bottom: 54px; */
}

.rs-banner.style6 .container {
  position: relative;
}

.rs-banner.style6 .banner-content {
  padding: 200px 0 120px;
}

.rs-banner.style6 .banner-content .banner-title {
  font-weight: 700;
  line-height: 80px;
  font-size: 50px;
}

.rs-banner.style6 .banner-content .desc {
  font-size: 18px;
  line-height: 30px;
}

.rs-banner.style6 .shape-img {
  position: absolute;
  bottom: -54px;
}

.rs-banner.style6 .shape-img.left {
  left: 15px;
  z-index: 1;
}

.rs-banner.style6 .shape-img.center {
  left: 50%;
  transform: translateX(-50%);
}

.rs-banner.style6 .shape-img.center .inner {
  width: 810px;
  height: 385px;
  margin: 0 auto;
  position: relative;
}

.rs-banner.style6 .shape-img.center .inner .spiner {
  position: absolute;
  content: '';
}

.rs-banner.style6 .shape-img.center .inner .spiner.one {
  top: 0;
  left: 37%;
}

.rs-banner.style6 .shape-img.center .inner .spiner.one img:nth-child(1) {
  position: relative;
  right: 4px;
  top: 9px;
}

.rs-banner.style6 .shape-img.center .inner .spiner.two {
  top: 56%;
  left: 0;
}

.rs-banner.style6 .shape-img.center .inner .spiner.two img:nth-child(1) {
  max-width: 16px;
}

.rs-banner.style6 .shape-img.center .inner .spiner.two img:nth-child(2) {
  position: relative;
  right: -3px;
  top: -4px;
  max-width: 25px;
}

.rs-banner.style6 .shape-img.center .inner .spiner.three {
  top: 40%;
  right: 0;
}

.rs-banner.style6 .shape-img.center .inner .spiner.three img:nth-child(1) {
  max-width: 16px;
  position: relative;
  top: 29px;
  left: 31px;
}

.rs-banner.style6 .shape-img.center .inner .spiner.three img:nth-child(2) {
  position: relative;
  right: 7px;
  top: 1px;
  max-width: 25px;
}

.rs-banner.style6 .shape-img.right {
  right: 15px;
}

.rs-banner .left-shape {
  position: absolute;
  top: -30px;
  left: 40px;
  z-index: -1;
}

.rs-banner .right-shape {
  position: absolute;
  top: 65px;
  right: -90px;
  z-index: -1;
}

.rs-banner .bottom-shape {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.rs-banner .bottom-shape img {
  width: 100%;
}

/* ------------------------------------
    06. Breadcrumbs Section CSS
---------------------------------------*/
.rs-breadcrumbs {
  position: relative;
}

.breadcrumbs-img {
  background: #283d67;
}

.rs-breadcrumbs .breadcrumbs-img img {
  width: 100%;
  opacity: .5;
  height: 400px;
}

.rs-breadcrumbs .breadcrumbs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.rs-breadcrumbs .breadcrumbs-text .page-title {
  font-size: 48px;
  margin-bottom: 20px;
  color: #273c66;
}

.rs-breadcrumbs .breadcrumbs-text ul {
  padding: 0;
}

.rs-breadcrumbs .breadcrumbs-text ul li {
  color: #505050;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.rs-breadcrumbs .breadcrumbs-text ul li a {
  position: relative;
  padding-right: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #505050;
}

.rs-breadcrumbs .breadcrumbs-text ul li a:before,
.rs-breadcrumbs .breadcrumbs-text ul li a:after {
  background-color: #505050;
  content: "";
  height: 15px;
  width: 2px;
  position: absolute;
  right: 7px;
  top: 2px;
  transform: rotate(26deg);
}

.rs-breadcrumbs .breadcrumbs-text ul li a:before {
  right: 13px;
}

.rs-breadcrumbs .breadcrumbs-text.white-color .page-title {
  color: #ffffff;
}

.rs-breadcrumbs .breadcrumbs-text.white-color ul li {
  color: #ffffff;
}

.rs-breadcrumbs .breadcrumbs-text.white-color ul li a {
  color: #ffffff;
}

.rs-breadcrumbs .breadcrumbs-text.white-color ul li a:before,
.rs-breadcrumbs .breadcrumbs-text.white-color ul li a:after {
  background-color: #ffffff;
}

.rs-breadcrumbs .breadcrumbs-text.white-color ul li a:before {
  right: 13px;
}

.rs-breadcrumbs .breadcrumbs-text.padding {
  padding-top: 100px;
}

.breadcrumbs-overlay:after {
  content: '';
  position: absolute;
  background-color: rgba(17, 17, 17, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.breadcrumbs1 {
  /* background-image: url('assets/images/breadcrumbs/1.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
  background-position: center top;
}

/* ------------------------------------
    07. About Section CSS
---------------------------------------*/
ul.ul_li_color li {
  line-height: 32px;
}

.boder-right {
  border-right: 1px solid;
}

.rs-about .histort-part {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  display: block;
}

.rs-about .histort-part .single-history {
  display: block;
  margin-bottom: 30px;
}

.rs-about .histort-part .single-history a {
  padding: 28px 20px 22px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  width: 230px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background: #171F32;
  transition: all 0.3s ease;
}

.rs-about .histort-part .single-history a .icon-part {
  display: block;
  margin-bottom: 15px;
}

.rs-about .histort-part .single-history a .icon-part i:before {
  font-size: 45px;
  line-height: 1;
  color: #ffffff;
}

.rs-about .histort-part .single-history a:hover,
.rs-about .histort-part .single-history a.active {
  background: #273c66;
}

.rs-about .histort-part .last-item {
  margin-bottom: 0;
}

.rs-about .history-list .title {
  font-size: 22px;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #111111;
}

.rs-about .history-list .title:before {
  display: none;
}

.rs-about .history-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}

.rs-about .history-list li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 25px;
  width: 5px;
  height: 5px;
  background: #111111;
}

.rs-about .history-list li:last-child {
  margin-bottom: 0;
}

.rs-about.style2 .about-intro {
  border-radius: 3px;
  background: url('../images/bg/about-intro-bg.jpg') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 88px 50px 95px;
  box-shadow: 0 0 20px 0px rgba(17, 41, 88, 0.2);
}

.rs-about.style2 .couter-area .counter-item {
  text-align: center;
  padding: 34px 15px;
  border-radius: 3px;
}

.rs-about.style2 .couter-area .counter-item .number {
  margin-bottom: 7px;
  font-size: 42px;
}

.rs-about.style2 .couter-area .counter-item .title {
  font-size: 22px;
  color: #394459;
}

.rs-about.style2 .couter-area .counter-item.one {
  background: #fbf8cc;
}

.rs-about.style2 .couter-area .counter-item.two {
  background: #e9fbd5;
}

.rs-about.style2 .couter-area .counter-item.three {
  background: #dcf1fd;
}

.rs-about.style2 .grid-area .image-grid img {
  border-radius: 3px;
}

.rs-counter .counter-item .counter-text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.rs-counter.style2-about .counter-item .rs-count {
  color: #111111;
}

.rs-counter .counter-item .rs-count {
  position: relative;
  display: inline-block;
  font-size: 42px;
  line-height: 1;
  color: #112958;
  padding-right: 25px;
  margin-bottom: 15px;
}

.rs-counter .counter-item .rs-count.kplus:before {
  content: 'k+';
  right: -25px;
}

.rs-counter .counter-item .rs-count:before {
  content: '';
  position: absolute;
  right: 0;
}

.rs-counter.style2-about .counter-item .title {
  font-size: 22px;
  color: #505050;
}



/* -----------------------------------
    12. Course Single Section CSS
-------------------------------------*/
/*Intro Section*/
.intro-section {
  position: relative;
  /*Video Column Style*/

  /*Intro Tabs Style*/

}

.intro-section .intro-tabs {
  position: relative;
  border: none;
}

.intro-section .intro-tabs .tab-btns {
  position: relative;
  text-align: center;
  width: 20%;
}

.intro-section .intro-tabs .tab-btns .tab-btn {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  background: none;
  background: #ffffff;
  color: #626262;
  border: 1px solid #eee;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  float: left;
  padding: 12px 40px 10px;
  text-transform: capitalize;
  transition: all 500ms ease;
}



.intro-section .intro-tabs .tabs-content {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.intro-section .intro-tabs .tabs-content .minutes {
  position: relative;
  color: #21a7d0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}


/* ------------------------------------
    19. Download Section CSS
---------------------------------------*/
.rs-download-app .mobile-img {
  display: flex;
}

.rs-download-app .mobile-img .apps-image img {
  max-width: 195px;
}

/*-------------------------------------
    36. Contact Section CSS
--------------------------------------*/
.contact-page-section .inner-part .title {
  font-size: 36px;
  color: #101010;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 14px;
}

.contact-page-section .inner-part .title2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.25em;
  color: #111111;
}

.contact-page-section .inner-part p {
  font-size: 19px;
  color: #363636;
  line-height: 32px;
  font-weight: 400;
}

.contact-page-section .rs-quick-contact {
  background-color: #F9F8F8;
  padding: 70px 150px 70px;
}

.contact-page-section .rs-quick-contact .from-control {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #F1F1F1;
  box-shadow: 0 0 30px #eee;
  color: #363636;
  width: 100%;
  max-width: 100%;
  opacity: 1;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #767676;
  background: #ffffff;
  padding: 10px 18px;
}

.contact-page-section .rs-quick-contact textarea {
  height: 140px;
}

.contact-page-section .rs-quick-contact .form-group .btn-send {
  padding: 16px 0px 16px 0px;
  text-transform: uppercase;
  box-shadow: 0px 28px 50px 0px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  padding: 12px 40px;
  border-radius: 3px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #273c66;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.contact-page-section .rs-quick-contact .form-group .btn-send:hover {
  opacity: 0.90;
}

.contact-page-section .rs-quick-contact.new-style {
  padding: 70px 60px 70px;
}

.contact-page-section .rs-contact-box .address-item {
  padding: 50px 40px 50px 40px;
  background: #ffffff;
  box-shadow: 0 0 30px #fff;
  text-align: center;
  margin: 0px 20px 0px 0px;
  border-radius: 5px 5px 5px 5px;
}

.contact-page-section .rs-contact-box .address-item .icon-part {
  padding-bottom: 20px;
}

.contact-page-section .rs-contact-box .address-item .icon-part img {
  width: 65px;
}

.contact-page-section .rs-contact-box .address-item .address-text .label {
  display: block;
  color: #101010;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
}

.contact-page-section .rs-contact-box .address-item .address-text .des {
  font-size: 17px;
  color: #031a3d;
}

.contact-page-section .rs-contact-box .address-item .address-text .des a {
  color: #031a3d;
}

.contact-page-section .rs-contact-box .address-item .address-text .des a:hover {
  color: #273c66;
}

.contact-page-section .rs-contact-wrap {
  padding: 40px 35px 30px 35px;
  background-color: #F9F8F8;
  border-radius: 5px 5px 5px 5px;
}

.contact-page-section .rs-contact-wrap .address-item {
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

.contact-page-section .rs-contact-wrap .address-item .address-icon {
  margin-right: 20px;
}

.contact-page-section .rs-contact-wrap .address-item .address-icon i {
  font-size: 35px;
  color: #273c66;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .label {
  display: block;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 1.2;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .des {
  font-size: 18px;
  color: #111111;
  font-weight: 500;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .des a {
  color: #111111;
  font-weight: 500;
}

.contact-page-section .rs-contact-wrap .address-item .address-text .des a:hover {
  color: #273c66;
}

.contact-page-section .contact-comment-box .from-control {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #F1F1F1;
  box-shadow: 0 0 30px #eee;
  color: #363636;
  width: 100%;
  max-width: 100%;
  opacity: 1;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #767676;
  background: #ffffff;
  padding: 10px 18px;
}

.contact-page-section .contact-comment-box textarea {
  height: 140px;
}

.contact-page-section .contact-comment-box .form-group .btn-send {
  padding: 16px 0px 16px 0px;
  box-shadow: 0px 28px 50px 0px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  padding: 12px 40px;
  border-radius: 3px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #273c66;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-transform: uppercase;
}

.contact-page-section .contact-comment-box .form-group .btn-send:hover {
  opacity: 0.90;
}

.contact-page-section .contact-comment-box.new-style {
  padding: 60px 70px 60px !important;
}

.contact-page-section .contact-map {
  overflow: hidden;
}

.contact-page-section .contact-map iframe {
  float: left;
  width: 100%;
  height: 550px;
  border: none;
}

.contact-page-section .contact-map2 {
  overflow: hidden;
}

.contact-page-section .contact-map2 iframe {
  float: left;
  width: 100%;
  height: 720px;
  border: none;
}

.contact-page-section .contact-map3 {
  overflow: hidden;
}

.contact-page-section .contact-map3 iframe {
  float: left;
  width: 100%;
  height: 600px;
  border: none;
}

.contact-page-section .contact-address-section {
  text-align: center;
  margin: 0 0 50px;
}

.contact-page-section .contact-address-section .contact-info {
  background: #f9f9f9;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0 30px;
  min-height: 175px;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease;
}

.contact-page-section .contact-address-section .contact-info .icon-part {
  margin-right: 30px;
}

.contact-page-section .contact-address-section .contact-info .icon-part i {
  color: #273c66;
  font-size: 30px;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  line-height: 58px;
  border-radius: 50%;
  text-align: center;
  background: transparent;
  border: 6px solid #283d67
}

.contact-page-section .contact-address-section .contact-info .content-part .info-subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #505050;
  margin: 0 0 5px;
}

.contact-page-section .contact-address-section .contact-info .content-part .info-title {
  font-size: 24px;
  font-weight: 700;
  color: #111111;
  margin: 0;
}

.contact-page-section .contact-address-section .contact-info .content-part a {
  color: #111111;
  display: block;
}

.contact-page-section .contact-address-section .contact-info .content-part a:hover {
  color: #273c66;
}

.contact-page-section .contact-address-section .contact-info:hover {
  transform: translateY(-5px);
}

.contact-page-section .contact-address-section.style2 {
  margin: 0;
}

.contact-page-section .contact-comment-section {
  padding: 50px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-50 {
  margin-bottom: 50px;
}

.contact-page-section .contact-comment-section h3 {
  font-size: 36px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 700;
}

.contact-page-section .contact-comment-section form .form-group input {
  height: 43px;
  padding: 0 15px;
}

.contact-page-section .contact-comment-section form .form-group input,
.contact-page-section .contact-comment-section form .form-group textarea {
  border: none;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
}

.contact-page-section .contact-comment-section form .form-group label {
  color: #505050;
  font-weight: 400;
}

.contact-page-section .contact-comment-section form .form-group input.btn-send {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #273c66;
  margin-top: 15px;
  border: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
  padding: 0 50px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
}

.contact-page-section .contact-comment-section form .form-group input.btn-send:hover {
  background: #ed3600;
}

.contact-page-section .contact-bg1 {
  background: #f9f9f9;
}

/*------------------------------------
    37. Footer Section CSS
------------------------------------*/
.footer-color {
  background-color: #273c66;
}

.rs-footer {
  background: url('../images/bg/footer-bg.png') no-repeat;
  background-size: cover;
}

.rs-footer .footer-top .widget-title {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

ul.site-map {
  list-style: none;
}

ul.site-map li span {
  color: #e8e8e8;
  line-height: 17px;
}

.rs-footer .footer-top .site-map li {
  /* padding-left: 15px; */
  position: relative;
  margin-bottom: 11px;
}

.rs-footer .footer-top .site-map li a {
  color: #e8e8e8;
}

.rs-footer .footer-top .site-map li a:hover {
  color: #21a7d0;
}

ul.site-map li i {
  padding: 0 10px;
}

.rs-footer .footer-top .site-map li:last-child {
  margin-bottom: 0;
}

.rs-footer .footer-top .address-widget li {
  position: relative;
  margin-bottom: 16px;
}

.rs-footer .footer-top .address-widget li i {
  position: absolute;
}

.rs-footer .footer-top .address-widget li i:before {
  color: #ffffff;
}

.rs-footer .footer-top .address-widget li .desc {
  padding-left: 35px;
  color: #ffffff;
}

.rs-footer .footer-top .address-widget li .desc a {
  color: #ffffff;
}

.rs-footer .footer-top .address-widget li .desc a:hover {
  color: #21a7d0;
}

.rs-footer .footer-top .address-widget li:last-child {
  margin-bottom: 0;
}

.rs-footer .footer-bottom {
  padding: 0px 0;
  background: transparent;
  position: relative;
}

.rs-footer .footer-bottom .copyright p {
  margin-bottom: 0;
  color: #f3f8f9;
}

.rs-footer .footer-bottom .copyright a {
  color: #21a7d0;
}

.rs-footer .footer-bottom .footer-logo a {
  display: inline-block;
}

.rs-footer .footer-bottom .footer-logo a img {
  max-width: 190px;
}

.rs-footer .footer-bottom .footer-social li {
  display: inline;
  margin-right: 5px;
}

.rs-footer .footer-bottom .footer-social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background: #21a7d0;
  color: #ffffff;
  text-align: center;
}

.rs-footer .footer-bottom .footer-social li a:hover {
  color: #ffffff;
  background: #273c66;
}

.rs-footer .footer-bottom .footer-social li:last-child {
  margin: 0;
}

.rs-footer .footer-bottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  max-width: 1240px;
  background: rgba(255, 255, 255, 0.1);
}

.rs-footer.style6 .footer-top {
  padding: 30px 0;
}

.rs-footer.style6 .footer-top .site-map li a {
  color: #e8e8e8;
}

.rs-footer.style6 .footer-top .site-map li a:hover {
  color: #21a7d0;
}

.rs-footer.style6 .footer-top .site-map li:before {
  background: #f4bf00 !important;
}

.rs-footer.style6 .footer-top .site-map li:last-child {
  margin-bottom: 0;
}

.rs-footer.style6 .footer-top .address-widget li i:before {
  color: #f4bf00 !important;
}

.rs-footer.style6 .footer-bottom {
  background: none;
}

.rs-footer.style6 .footer-bottom .main-part {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rs-footer.style6 .footer-bottom .main-part p a {
  color: #f4bf00 !important;
}

.rs-footer.style6 .footer-bottom .main-part p a:hover {
  color: #21a7d0 !important;
}

.rs-footer.style6 .footer-bottom .main-part .footer-social li a {
  color: #111111 !important;
  background: #f4bf00 !important;
}

/* -----------------------
    38. Scroll Up CSS
--------------------------*/
#scrollUp {
  text-align: center;
  bottom: 40px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  border-radius: 50px 50px 4px 4px;
}

#scrollUp i {
  background: #21a7d0;
  border-radius: 50%;
  height: 40px;
  font-size: 24px;
  font-weight: 600;
  width: 42px;
  color: #fff;
  line-height: 36px;
  transition: all 0.3s ease;
  margin-left: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

#scrollUp i:hover {
  background-color: #1a84a4;
}

#scrollUp.orange-color i {
  background: #273c66;
}

#scrollUp.orange-color i:hover {
  background-color: #ed3600;
}

#scrollUp.yellow-color i {
  background: #f4bf00;
}

#scrollUp.yellow-color i:hover {
  background-color: #c19700;
}

#scrollUp.purple-color i {
  background: #4e49a1;
}

#scrollUp.purple-color i:hover {
  background-color: #3d397e;
}

#scrollUp.green-color i {
  background: #0c8b51;
}

#scrollUp.green-color i:hover {
  background-color: #085c36;
}

/*Pulse Border Animation*/
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/*Pulse Border Animation*/
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes circle-ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 84, 33, 0.3), 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3);
  }

  100% {
    box-shadow: 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3), 0 0 0 8em rgba(255, 84, 33, 0);
  }
}

@-webkit-keyframes circle-ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 84, 33, 0.3), 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3);
  }

  100% {
    box-shadow: 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3), 0 0 0 8em rgba(255, 84, 33, 0);
  }
}

.up-down {
  animation: up-down 4s alternate infinite;
  -webkit-animation: up-down 4s alternate infinite;
}

.up-down-new {
  animation: up-down 8s alternate infinite;
  -webkit-animation: up-down 8s alternate infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(30px);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(30px);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

.left-right {
  animation: left-right 5s cubic-bezier(0.41, 0.04, 0.03, 1.1) infinite;
  -webkit-animation: left-right 5s cubic-bezier(0.41, 0.04, 0.03, 1.1) infinite;
}

.left-right-new {
  animation: left-right 8s cubic-bezier(0.41, 0.04, 0.03, 1.1) infinite;
  -webkit-animation: left-right 8s cubic-bezier(0.41, 0.04, 0.03, 1.1) infinite;
}

@keyframes left-right {
  0% {
    transform: translatex(0);
    -webkit-transform: translatex(0);
  }

  50% {
    transform: translateY(-50px);
    -webkit-transform: translatex(-50px);
  }

  100% {
    transform: translatex(0);
    -webkit-transform: translatex(0);
  }
}

@-webkit-keyframes left-right {
  0% {
    transform: translatex(0);
    -webkit-transform: translatex(0);
  }

  50% {
    transform: translatex(-50px);
    -webkit-transform: translatex(-50px);
  }

  100% {
    transform: translatex(0);
    -webkit-transform: translatex(0);
  }
}

.spine {
  animation: spine 5s linear infinite;
  -webkit-animation: spine 5s linear infinite;
}

@keyframes spine {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spine {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.spine-r {
  animation: spine-r 5s linear infinite;
  -webkit-animation: spine-r 5s linear infinite;
}

@keyframes spine-r {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spine-r {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.spine2 {
  animation: spine 8s linear infinite;
}

@keyframes spine2 {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spine2 {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.rotated-style {
  -webkit-animation: rotated-style 30s linear infinite;
}

@keyframes rotated-style {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.veritcal-two {
  animation-name: veritcal-two;
  animation-timing-function: linear;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes veritcal-two {
  0% {
    transform: translateY(30px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

/* ------------------------------------
    39. Preloader CSS
---------------------------------------*/
.loader {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  z-index: 9999999;
}

.loader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border: 5px solid #ebebec;
  border-radius: 50%;
}

.loader .loader-container:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-top: 4px solid #21a7d0;
  border-radius: 50%;
  animation: loaderspin 1.8s infinite ease-in-out;
  -webkit-animation: loaderspin 1.8s infinite ease-in-out;
}

.loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}

.loader .loader-icon img {
  animation: loaderpulse alternate 900ms infinite;
}

.loader.orange-color .loader-container:before {
  border-color: #273c66;
}

.loader.yellow-color .loader-container:before {
  border-color: #f4bf00;
}

.loader.purple-color .loader-container:before {
  border-color: #4e49a1;
}

.loader.green-color .loader-container:before {
  border-color: #0c8b51;
}

@keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loaderpulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}